.gitconfig
socket_programming.pem
__pycache__

.Xauthority
.bash_history
.bash_logout
.bashrc
.byobu
.cache
.config
.dbus
.gnupg
.local
.mozilla
.mysql_history
.presage
.profile
.ssh
.sudo_as_admin_successful
.vim
.viminfo
.vnc
.wget-hsts
.xsession-errors
